/* =================================== MOBILE VERSION ============================================= */
.Forgot {
  margin: 20% auto 24% 25%;
  width: 50%;
  padding: 10px;
}

/* =================================== TABLET VERSION ============================================= */
@media screen and (min-width: 766px) {
  .Forgot {
    margin: 35.5% auto 36% 35%;
  }
}

/* =================================== DESKTOP VERSION ============================================= */
@media screen and (min-width: 992px) {
  .Forgot {
    margin: 15% auto 14% 37%;
  }
}

/* =============================== WIDER DESKTOP VERSION ========================================== */
@media screen and (min-width: 1300px) {
  .Forgot {
    margin: 12% auto 15% 37%;
  }
}
