.lists {
  background-color: black;
  background-image: url(../assets/images/bg\ image\ 2.png);
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  height: 100%;
}

.lists::after {
  content: "";
  display: block;
  background-color: rgba(8, 8, 8, 0.431);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: -10;
}
