/* =================================== MOBILE VERSION ============================================= */
.Login {
  /* margin: 20% auto 24% 25%;
  width: 50%;
  padding: 10px; */
  margin: 0% auto 0% 0%;
  background-image: url("../assets/images/login22.png");
  width: 100%;
  height: 80vh;
  padding-left: 150px;
  padding-top: 200px;
  color: white;
}

/* =================================== TABLET VERSION ============================================= */
@media screen and (min-width: 766px) {
  .Login {
    /* margin: 35.5% auto 36% 35%; */
    margin: 0% auto 0% 0%;
    background-image: url("../assets/images/login22.png");
    width: 100%;
    height: 80vh;
    padding-left: 300px;
    padding-top: 200px;
    color: white;
  }
}

/* =================================== DESKTOP VERSION ============================================= */
@media screen and (min-width: 992px) {
  .Login {
    /* margin: 15% auto 14% 37%; */

    margin: 0% auto 0% 0%;
    background-image: url("../assets/images/login22.png");
    width: 100%;
    height: 80vh;
    padding-left: 500px;
    padding-top: 200px;
    color: white;
  }
}

/* =============================== WIDER DESKTOP VERSION ========================================== */
@media screen and (min-width: 1300px) {
  .Login {
    margin: 0% auto 0% 0%;
    background-image: url("../assets/images/login22.png");
    width: 100%;
    height: 80vh;
    padding-left: 700px;
    padding-top: 200px;
    color: white;
  }
}