.avatar{
  width: 60px;
  height: 60px;
  background-color: #FFB548;
  border-radius: 50%;
  position: absolute;
  }

.TestimonialCard{
  background: #1B1D1E;
  border-radius: 10px;
  padding:10px;
  position :relative;
  max-width: 360px;
}
