@import url("http://fonts.cdnfonts.com/css/ft-nihilistphilosophy");
@import url("http://fonts.cdnfonts.com/css/indiana-jonas");

.score__board {
  margin: 60px auto;
  border: 3px solid white;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  color: red;
  font-size: 50px;
  font-weight: bold;
  padding: 20px 15px;
  position: relative;
}

.player__score {
  /* background: black; */
  color: white;
  font-size: 30px;
  padding: 10px 10px;
  border-radius: 3px;
  place-items: center;
}

#user-label {
  position: absolute;
  font-family: "Indiana Jonas", sans-serif;
  top: 28px;
  left: 0px;
  width: 100px;
  font-size: 35px;
}

#computer-label {
  position: absolute;
  font-family: "Indiana Jonas", sans-serif;
  top: 28px;
  right: 0px;
  width: 100px;
  font-size: 35px;
}

.result__battle {
  margin-top: -40px;
  font-size: 50px;
  color: white;
}
.result__battle > p {
  position: relative;
  text-align: center;
  font-family: "Indiana Jonas", sans-serif;
}

/* CHOICESSS */
.choices {
  display: flex;
  justify-content: space-evenly;
  margin-top: -20px;
}

.choices__player {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.choices__player > button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.batu__player > img {
  width: 80px;
  height: 80px;
  position: relative;
  padding: 10px;
}

.highlight > img {
  background: green;
  border-radius: 10px;
}

.kertas__player > img {
  width: 80px;
  height: 80px;
  position: relative;
  padding: 10px;
}

.gunting__player > img {
  width: 80px;
  height: 80px;
  position: relative;
  padding: 10px;
}

.batu__comp > img {
  width: 80px;
  height: 80px;
  position: relative;
  padding: 10px;
}

.kertas__comp > img {
  width: 80px;
  height: 80px;
  position: relative;
  padding: 10px;
}

.gunting__comp > img {
  width: 80px;
  height: 80px;
  position: relative;
  padding: 10px;
}

.picked {
  background: green;
  border-radius: 10px;
}
