.main__game {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/images/bg-battle.jpg");
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.game__overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  background-size: cover;
}
